<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Dependency Injection with annotations -->
	<context:component-scan base-package="com.hc.user.service" />

	<!-- properties file configuration -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean>

	<!-- Persistence Layer -->
	<!-- Local Apache Commons DBCP DataSource that refers to a combined database -->
	<!-- The placeholders are resolved from jdbc.properties through -->
	<!-- the PropertyPlaceholderConfigurer in service-context.xml -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName">
			<value>${jdbc.driverClassName}</value>
		</property>
		<property name="url">
			<value>${jdbc.url}</value>
		</property>
		<property name="username">
			<value>${jdbc.username}</value>
		</property>
		<property name="password">
			<value>${jdbc.password}</value>
		</property>
		<property name="validationQuery">
			<value>SELECT 1</value>
		</property>
		<property name="testOnBorrow">
			<value>1</value>
		</property>
	</bean>

	<!-- Persistence layer mapping -->
	<bean id="userDao" class="com.hc.dao.UserDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Persistence layer mapping -->
	<bean id="healthConditonDao" class="com.hc.dao.HealthConditionDao">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="response" class="com.hc.model.Response" />

	<bean id="userInfoService" class="com.hc.user.service.UserInfoImpl">
		<property name="userInfo" ref="userDao" />
	</bean>

	<bean id="healthConditionService" class="com.hc.user.service.HealthConditionInfoImpl">
		<property name="hcDao" ref="healthConditonDao" />
	</bean>
	

</beans>
